.about {
    margin: 180px auto;
    &_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        &_title {
            max-width: 890px;
            width: 100%;
            font-family: var(--m600);
            font-size: 48px;
            color: #212121;
            text-transform: uppercase;
        }

        .about_mini_box {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            margin-bottom: 80px;

            &_text {
                font-family: var(--o400);
                font-size: 24px;
                color: #212121;
                &:nth-child(3){
                    margin-top: 40px;
                }
            }
        }

    }

    .about_img_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;

        .about_img {
            &:nth-child(1) {
                grid-row: span 2;
            }
        }
    }
}