@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("/src/assets/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("/src/assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Oxygen-Bold";
    src: url("/src/assets/fonts/Oxygen-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Oxygen-Regular";
    src: url("/src/assets/fonts/Oxygen-Regular.ttf");
    font-weight: 400;
}